{
    "version" : "2017-02-28",
    "operation" : "UpdateItem",
    "key" : {
    ## If object "id" should come from GraphQL arguments, change to $util.dynamodb.toDynamoDBJson($ctx.args.id)
        "id" : $util.dynamodb.toDynamoDBJson($context.arguments.id)
    },
    "update" : {
        "expression" : "ADD postLikes :plusOne",
        "expressionValues" : {
            ":plusOne" : { "N" : 1 }
        }
    }
}